*{
    margin:0;
    padding:0;
}

.demo1 {  width:600px;  overflow: hidden;  }

.demo1 .left {  width:100px;  float:left;  }
.demo1 .left img{  margin-left:20px; border: 1px solid #cccccc; }
.demo1 .right{  width:458px;  float:right;  background:#EEF7FF;  border:1px solid #cccccc;  padding: 20px;  position:relative;  }
.demo1 .right p{  font-size: 12px;  line-height: 20px;  }
.demo1 .right span{  position:absolute; top:10px; right:20px;  font-size: 12px;  }


.demo2 {  width:600px;  overflow: hidden;  }
.demo2 img{ float:left; margin-left:20px; border: 1px solid #cccccc;}
.demo2 .right{  width:458px;  float:right;  background:#EEF7FF;  border:1px solid #cccccc;  padding: 20px;  position:relative;  }
.demo2 .right p{  font-size: 12px;  line-height: 20px;  }
.demo2 .right span{  position:absolute; top:10px; right:20px;  font-size: 12px;  }

.demo3 { width:458px; background:#EEF7FF;  border:1px solid #cccccc;  padding: 20px; margin-left:100px; position:relative;}
.demo3 img{float:left; margin:-20px 0 0 -100px; border: 1px solid #cccccc;}
.demo3 p{  font-size: 12px;  line-height: 20px;  }
.demo3 span{  position:absolute; top:10px; right:20px;  font-size: 12px;  }
